<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helpandgetfun"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" /> 
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.helpandgetfun.SplashScreen"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.helpandgetfun.viewcontroller.LoginActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustResize"  
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" ></activity> 
        <activity android:name="com.example.helpandgetfun.viewcontroller.RegisterActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustResize" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" ></activity> 
        <activity android:name="com.example.helpandgetfun.viewcontroller.ResetPwdActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustResize" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" ></activity> 
        <activity android:name="com.example.helpandgetfun.viewcontroller.MainActivity" android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" ></activity>
        <activity android:name="com.example.helpandgetfun.viewcontroller.AddTaskActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustResize" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" ></activity>
        <activity android:name="com.example.helpandgetfun.viewcontroller.FriendListActivity"  
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" ></activity>  
        <activity android:name="com.example.helpandgetfun.viewcontroller.PersonInfoActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" ></activity>   
        <activity android:name="com.example.helpandgetfun.viewcontroller.FriendInfoActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" ></activity>
        <activity android:name="com.example.helpandgetfun.viewcontroller.AddFriendActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" ></activity>  
        <activity android:name="com.example.helpandgetfun.viewcontroller.InfoCenterActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" ></activity>
            
    </application>

</manifest>
